<div ng-controller="KmerFinderCtrl">
    <div class="jumbotron">
        <h1 class="text-center">
            <span style="color: #3f51b5;">KmerFinder</span>
            <span style="color: #ff5722;">JS</span>
        </h1>
        <!-- <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
    <drop-files-button active="true" is-service="true"></drop-files-button>
    <!-- <div class="alert alert-danger text-center" role="alert" ng-show="error">
        <h4>
            {{errorMessage}}
        </h4>
    </div> -->
    <div ng-show="isolateFiles.length !== 0" class="well well-lg">
        <!-- <p class="text-center"> -->
            <button id="submitButton" ng-click="analize()" type="button" class="text-center btn btn-material-indigo-500 btn-lg btn-block">
                Predict Species
            </button>
        <!-- </p> -->
    <div class="text-center">
        <span ng-show="message.status !== 0"
              class="label"
              ng-class="{'label-danger': message.status === 2, 'label-success': message.status === 1}"
        >
            {{message.text}}
        </span>

    </div>
        <div ng-repeat="f in isolateFiles">
            <div class="text-center" ng-show="f.lines">
                Reading
                    <strong ng-class="{parsing: f.dataRead < 100, parsed: f.dataRead >= 100}">
                        {{f.name}}
                    </strong>
                <div>({{f.lines}} lines / {{f.kmers}} kmers)</div>
                <div class="progress">
                    <div class="progress-bar" style="width: {{f.dataRead}}%;"></div>
                </div>
            </div>
            <h3 ng-show="f.match" class="text-center">Congrats! You got a
                <span style="color: #ff5722">{{f.species}}</span>
            </h3>
            <div ng-show="f.match" ui-grid="f.matchesGrid" class="myGrid" ui-grid-auto-resize></div>
            <!-- <uib-accordion>
                <uib-accordion-group is-open="f.status">
                    <uib-accordion-heading>
                        I can have markup, too!
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': f.status.open, 'glyphicon-chevron-right': !f.status.open}"></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </uib-accordion-group>
            </uib-accordion> -->
        </div>

    </div>
</div>
