.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin-bottom: 60px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.parsing{
    color: #166af9;
}

.parsed{
    color: #087910;
}

/*.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}*/

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.myGrid {
    /*width: 794px;*/
    height: 250px;
  }

.well-green{
  background-color: #e9f5e6;
}

.well-blue{
  background-color: rgba(14, 146, 245, 0.22);
}

.well-red{
  background-color: rgba(255, 130, 130, 1);
}

.nav-pills{
    background-color: #B71C1C;
}
.nav-pills.active{
    background-color: #B71C1C;
}

.nav-tabs{
    background-color: #B71C1C;
}

.animate-hide,
.animate-hide2 {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide,
.animate-hide-2.ng-hide  {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.glyphicon,
.mdi-hardware-desktop-mac,
.mdi-hardware-laptop-mac,
.mdi-hardware-tablet-mac,
.mdi-hardware-phone-iphone{
    font-size: 15px;
}



.text-glowing {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    background-color: green;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
